body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
/* Custom Slider */
header {
    background-image: url("../asset/img.png");
    background-color: #cccccc;

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/* Custom CSS */
.header-text {
    font-size: 3.5em;
    line-height: 1;
}
.row {
    margin: 0!important;
}

a {
    color: black
}

a:hover {
    text-decoration: none;
}

.line-above {
    border-top: black solid 1px;
    width: 100%;
}
.pt-180 {
    padding-top:180px;
}
.pt-90 {
    padding-top: 90px;
}
.pb-60 {
    padding-bottom:60px;
}

#services {
    overflow: hidden;
    
}
.services-number{
    color: #0044ff;
    transition: 1s;
}

.swiper-services {
    width: 100%;
    height: 100%;
}

.swiper-slide-active {
    border-left: none!important;
}

.service-card {
    border-left: black solid 1px;
    position: relative;
}

.show-more {
    position: absolute;
    bottom: 30;
}

#service-card1:hover {
  background-image: url("../asset/card1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  transition: 0.7s;
}

#service-card2:hover {
    background-image: url("../asset/card2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.7s;
  }

  #service-card3:hover {
    background-image: url("../asset/card2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.7s;
  }

  #service-card4:hover {
    background-image: url("../asset/card2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.7s;
  }

.service-card:hover > .services-number {
    color: white!important;
}
.service-card:hover {
    color: white;
    transition: 1s;
}

.active {
    color: #0044ff
}

.my-btn {
    background-color: #0044ff;
    color: #fff;
}

.my-btn:hover {
    color: #fff;
}

.big-numb {
    font-size: 8rem;
}

.services-card:hover .services-number {
    color: white;
}