* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Plain-Light-Italic';
    src: url("../fonts/Plain-Light-Italic.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Light';
    src: url("../fonts/Plain-Light.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Medium-Italic';
    src: url("../fonts/Plain-Medium-Italic.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Medium';
    src: url("../fonts/Plain-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Regular-Italic';
    src: url("../fonts/Plain-Regular-Italic.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Regular';
    src: url("../fonts/Plain-Regular.woff") format("woff");
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?uoh6t0');
    src:  url('../fonts/icomoon.eot?uoh6t0#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?uoh6t0') format('truetype'),
      url('../fonts/icomoon.woff?uoh6t0') format('woff'),
      url('../fonts/icomoon.svg?uoh6t0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right:20px;
    color:#0044ff;
    font-size: 10px;
}

.icon-arrow:before {
    content: "\e900";
}
.icon-download:before {
    content: "\e901";
}
.icon-play:before {
    font-size: 20px;
    content: "\e902";
}
.icon-phone:before {
    font-size: 20px;
    content: "\e903";
}
.icon-email:before {
    font-size: 20px;
    content: "\e904";
}
body {
    background-color:#f2f2f2;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
.font-light {
    font-family: 'Plain-Light';
}
.font-medium {
    font-family: 'Plain-Medium';
}
.font-regular {
    font-family: 'Plain-Regular';
}
.header-text {
    font-size: 3.5em;
    line-height: 1;
}
.row {
    margin: 0!important;
}

a {
    color: black
}

a:hover {
    text-decoration: none;
}
.bordered::after {
    border-left: 1px solid black;
    min-height: 100%;
    content: '';
    display: block;
    position: relative;
    left: calc(100% - 50% + 1px);
}

.line-above {
    border-top: black solid 1px;
    width: 100%;
}

.line-below {
    border-bottom: black solid 1px;
    width: 100%;
}
.pt-180 {
    padding-top:180px;
}
.pt-90 {
    padding-top: 90px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-60 {
    padding-bottom:60px;
}

#services {
    overflow: hidden;
    
}
.services-number{
    color: #0044ff;
    transition: 1s;
}

.swiper-services {
    width: 100%;
    height: 100%;
}

.swiper-slide-active {
    border-left: none!important;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
}

.service-card {
    border-left: black solid 1px;
    position: relative;
}

.show-more {
    position: absolute;
    bottom: 30;
}

#service-card1:hover {
  background-image: url("../asset/card1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  transition: 0.7s;
}

#service-card2:hover {
    background-image: url("../asset/card2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.7s;
  }

  #service-card3:hover {
    background-image: url("../asset/card2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.7s;
  }

  #service-card4:hover {
    background-image: url("../asset/card2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.7s;
  }

.service-card:hover > .services-number {
    color: white!important;
}
.service-card:hover {
    color: white;
    transition: 1s;
}

.active {
    color: #0044ff
}

.my-btn {
    background-color: #0044ff;
    color: #fff;
    font-size:16px;
}

.my-btn:hover {
    color: #fff;
}

.services-card:hover .services-number {
    color: white;
}

.w-1280 {
    max-width: 1280px;
}

.text-rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    padding-left:15px;
    font-size: 20px;
    color:#0044ff;
}
.social-bar {
    padding:0px;
}
.social-bar li {
    display: inline-block;
}

h3,
.tab_custom span:first-child {
    font-size:13px;
    padding-right: 20px;
}
h2 {
    font-size: 32px;
}
.link {
    font-size: 12px;
}
h1 {
    font-size:48px;
}
h5 {
    font-size:18px;
}

.font-13 {
    font-size: 13px;
}
.tab_custom a {
    display: flex;
    align-items: center;
}
.tab_custom a span {
    font-size:20px;
}
.position-relative {
    position: relative;
}
.all-app {
    position: absolute;
    bottom:0;
    right:0;
}
.big-numb {
    font-size: 120px!important;
}

.numb-badge {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    
  }

.fs-15 {
    font-size:15px;
}
.swiper-container {
    margin-left: 0;
    margin-right: 0;
    color: #fff;
}
.swiper-container h1 {
    font-size:60px;
    font-family: 'Plain-Regular';
}
.swiper-container p a {
    color:#fff;
}
.swiper-container-horizontal>.swiper-scrollbar {
    bottom: unset;
    top:250px;
    left:50px;
    height: 1px;
    background: rgba(255,255,255,.7);
}
.swiper-scrollbar-drag {
    background:#fff;
}
.navmenu {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    padding-top:20px;
    padding-bottom:20px;
}
footer {
    font-size: 13px;

}
footer li {
    padding-bottom: 10px;
    display: flex;
}

#news h1 {
    font-size: 32px;
}
#chi_siamo h1 {
    font-size: 36px;
}
.icon-rounded {
    border-radius:50%;
    background-color:#fff;
    padding:15px;
}
.arrows {
    position: absolute;
    top: 45px;
    /* width: 500px; */
    left: -599px;
    /* font-size: 50px; */
    height: 600px;
    width: 1388px;
    /* z-index: 99999999;*/
}
.h-500 {
    height: 500px;
}