* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Plain-Light-Italic';
    src: url("../fonts/Plain-Light-Italic.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Light';
    src: url("../fonts/Plain-Light.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Medium-Italic';
    src: url("../fonts/Plain-Medium-Italic.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Medium';
    src: url("../fonts/Plain-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Regular-Italic';
    src: url("../fonts/Plain-Regular-Italic.woff") format("woff");
}
@font-face {
    font-family: 'Plain-Regular';
    src: url("../fonts/Plain-Regular.woff") format("woff");
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?uoh6t0');
    src:  url('../fonts/icomoon.eot?uoh6t0#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?uoh6t0') format('truetype'),
      url('../fonts/icomoon.woff?uoh6t0') format('woff'),
      url('../fonts/icomoon.svg?uoh6t0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right:20px;
    color:#0044ff;
    font-size: 10px;
}

.icon-arrow:before {
    content: "\e900";
}
.icon-download:before {
    content: "\e901";
}
.icon-play:before {
    font-size: 20px;
    content: "\e902";
}
.icon-phone:before {
    font-size: 20px;
    content: "\e903";
}
.icon-email:before {
    font-size: 20px;
    content: "\e904";
}
body {
    background-color:#f2f2f2;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
.font-light {
    font-family: 'Plain-Light';
}
.font-medium {
    font-family: 'Plain-Medium';
}
.font-regular {
    font-family: 'Plain-Regular';
}
.header-text {
    font-size: 3.5em;
    line-height: 1;
}
.row {
    margin: 0!important;
}

a {
    color: black
}

a:hover {
    text-decoration: none;
}
.bordered::after {
    border-left: 1px solid black;
    min-height: 100%;
    content: '';
    display: block;
    position: relative;
    left: calc(100% - 50% + 1px);
}

.line-above {
    border-top: black solid 1px;
    width: 100%;
}

.line-below {
    border-bottom: black solid 1px;
    width: 100%;
}
.pt-180 {
    padding-top:180px;
}
.pt-90 {
    padding-top: 90px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-60 {
    padding-bottom:60px;
}

#services {
    overflow: hidden;
    
}
.services-number{
    color: #0044ff;
    transition: 1s;
}

.swiper-services {
    width: 100%;
    height: 100%;
}
#services .swiper-slide,
[data-img] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-partners {
    overflow: hidden;
}

.service-card {
    border-left: #000 solid 1px;
    position: relative;
}
.service-card:first-child {
    border: 0px;
}

.show-more {
    position: absolute;
    bottom: 30;
}

.active {
    color: #0044ff
}

.my-btn {
    background-color: #0044ff;
    color: #fff;
    font-size:16px;
}

.my-btn:hover {
    color: #fff;
}

.services-card:hover .services-number {
    color: #fff;
}

.w-1280 {
    max-width: 1280px;
}
.w-2220 {
    max-width: 2220px;
}

.text-rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    padding-left:15px;
    font-size: 20px;
    color:#0044ff;
}
.text-rotate-inv {
    font-size:11px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.social-bar {
    padding:0px;
}
.social-bar li {
    display: inline-block;
}

h3,
.tab_custom span:first-child {
    font-size:13px;
    padding-right: 20px;
}
h2 {
    font-size: 32px;
}
.link {
    font-size: 12px;
}
h1 {
    font-size:48px;
}
h5 {
    font-size:18px;
}

.font-13 {
    font-size: 13px;
}
.tab_custom a {
    display: flex;
    align-items: center;
}
.tab_custom a span {
    font-size:20px;
}
.position-relative {
    position: relative;
}
.all-app {
    position: absolute;
    bottom:0;
    right:0;
}
.big-numb {
    font-size: 120px!important;
}

.numb-badge {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    
  }

.fs-15 {
    font-size:15px;
}
.swiper-container {
    margin-left: 0;
    margin-right: 0;
    color: #fff;
}
.swiper-container h1 {
    font-size:60px;
    font-family: 'Plain-Regular';
}
.swiper-container p a {
    color:#fff;
}
.swiper-container-horizontal>.swiper-scrollbar {
    bottom: unset;
    top:250px;
    left:50px;
    height: 1px;
    background: rgba(255,255,255,.7);
}
.swiper-scrollbar-drag {
    background:#fff;
}
.navmenu {
    position: relative;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    padding-top:20px;
    padding-bottom:20px;
}
.position-absolute {
    position: absolute;
}
footer {
    font-size: 13px;
}
footer li {
    padding-bottom: 10px;
    display: flex;
}

#news h1 {
    font-size: 32px;
}
.icon-rounded {
    border-radius:50%;
    background-color:#fff;
    padding:15px;
}
.arrows {
    position: absolute;
    top: 45px;
    /* width: 500px; */
    left: -599px;
    /* font-size: 50px; */
    height: 600px;
    width: 1388px;
    /* z-index: 99999999;*/
}
.logo {
    width:150px;
    height:auto;
}
.h-500 {
    height: 500px;
}
.bt-1 {
    border-top: 1px solid black;
}
.bb-1 {
    border-bottom: 1px solid black;
}
.bb-1-light {
    border-bottom: 1px solid white;

}
.bx-1 {
    border-left:1px solid black;
    border-right: 1px solid black;
}
.mb-100 {
    margin-bottom:100px;
}
.details h2 {
    font-size:48px;
}
.py-80 {
    padding-top:80px;
    padding-bottom:80px;
}
.uppercase {
    text-transform: uppercase;
}
.font-36 {
    font-size:36px;
}
.font-60 {
    font-size:60px;
}
.partner-rounded {
    background-color:#0044ff;
    width:150px;
    height: 150px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius:50%;
    color:#fff;
}
[data-custom-bg] {
    background-color:#0044ff;
    color:#fff;
}
[data-custom-bg] a,
[data-custom-bg] a:hover,
[data-custom-bg] a i {
    color:#fff;
}
.arrows-services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.servizio-anchor {
    position: absolute;
    bottom: 100px;
    left: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    color: #fff;
}
.servizio-anchor i {
    background-color:transparent;
    border:1px solid rgba(255,255,255,.7);
    color:#fff;
}